<p>
  <%= current_year %> Калявин Максим
</p>

<p>
  <%= github_url("gravel223", "test_guru") %> это тестовая платформа, где пользователи могут создавать, управлять и проходить тесты.
</p>

<p>
  <%= link_to "Учебный проект в онлайн-школе Thinknetica", "https://thinknetica.com", target: :blank %>
</p>
